<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cars!</title>
  </head>
  <body>
    <form class="form" action="/list" method="post">
      <label>Make/Model:</label>
      <input name="makemodel" type="text">
      <br>

      <label>Cost:</label>
      <input type="number" name="cost">
      <br>

      <label>Miles Driven:</label>
      <input name="miles" type="number">

      <button type="submit">Enter</button>
    </form>
  </body>
</html>
