<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <form action="/applications" method="post">
      <label for="title">Title</label>
      <input type="text" name="title" value="">
      <label for="description">Description</label>
      <input type="text" name="description" value="">
      <label for="name">Contact Name</label>
      <input type="text" name="name" value="">
      <label for="email">Contact Email</label>
      <input type="text" name="email" value="">
      <label for="phone">Contact Number</label>
      <input type="text" name="phone" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
